@import 'tailwindcss';

/* Default CSS */
:root {
    font-family: 'Inter', sans-serif;

    --navbar: #000000;
    --background: #16161a;

    --selectedtext: #ffffff;
    --unselectedtext: #777777;

    --componentbackground: #404040;
    --secondarycomponentbackground: #252525;
    --selectedcomponentbackground: #ffffff30;
    --greenbutton: #17ac6c;

    --red: #b70000;
    --green: #15aa6a;
    --gold: #fdd90f;
}

@layer base {
    body {
        background-color: var(--background);
        color: var(--selectedtext);

        overflow-y: hidden;
    }

    .unselected-text {
        color: var(--unselectedtext);
    }
}

@layer navbar {
    .bg-navbar {
        background-color: var(--navbar);
        color: var(--selectedtext);
    }

    .tab-title {
        color: var(--unselectedtext);
        font-size: 1.1rem;
    }

    .tab-title:hover {
        color: var(--selectedtext);
    }

    .selected {
        color: var(--selectedtext);
        font-weight: bold;
    }
}

@layer components {
    .body-background {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1.25rem;
        background-color: var(--background);
    }

    /* NEWS SCREEN */

    .news-block {
        cursor: pointer;
        padding: 0.5rem 1rem 1rem 1rem;
        border-bottom: 1px solid var(--componentbackground);
    }

    .news-block:hover {
        background-color: var(--selectedcomponentbackground);
    }

    .news-block--selected {
        background-color: var(--selectedcomponentbackground);
    }

    .news-list {
        border-right: 1px solid var(--componentbackground);
        width: 33.3333%;
        overflow-y: auto;
        scrollbar-width: none;
        height: 100vh;
    }

    .news-detail {
        width: 66.6667%;
        padding: 1.5rem;
        overflow-y: auto;
        scrollbar-width: none;
        height: 100vh;
    }

    /* BROWSE SCREEN */

    .search-bar-container {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        width: 100%;
        position: relative;
    }

    .search-bar {
        width: 75%;
        padding: 1rem 1rem 1rem 3rem;
        border-radius: 2.5rem;
        background-color: var(--componentbackground);
        color: var(--selectedtext);
        border: none;
        outline: none;
    }

    .search-bar-icon {
        position: absolute;
        left: calc(12.5% + 1rem);
        top: 50%;
        transform: translateY(-50%);
        color: var(--unselectedtext);
        font-size: 1.5rem;
        pointer-events: none;
    }
}
