@import 'tailwindcss';

/* Default CSS */
:root {
    font-family: 'Inter', sans-serif;

    --navbar: #000000;
    --background: #16161a;

    --selectedtext: #ffffff;
    --unselectedtext: #777777;

    --componentbackground: #404040;
    --secondarycomponentbackground: #252525;
    --selectedcomponentbackground: #ffffff30;
    --greenbutton: #17ac6c;

    --red: #b70000;
    --green: #15aa6a;
    --gold: #fdd90f;

    --shadow-small: inset 0 1px 2px var(--unselectedtext) /* top shadow */,
        0 1px 2px var(--background),
        /* dark shadow */ 0 2px 4px var(--secondarycomponentbackground); /* soft shadow */

    --shadow-medium: inset 0 1px 2px var(--unselectedtext),
        0 2px 4px var(--background),
        0 4px 7px var(--secondarycomponentbackground);

    --shadow-large: inset 0 1px 2px var(--unselectedtext),
        0 4px 6px var(--background),
        0 6px 10px var(--secondarycomponentbackground);

    --shadow-active: inset 0 2px 4px var(--unselectedtext),
        inset 0 -1px 3px var(--background),
        0 0 0 var(--secondarycomponentbackground);
}

@layer base {
    body {
        background-color: var(--background);
        color: var(--selectedtext);

        /* overflow-y: hidden; */
    }

    .unselected-text {
        color: var(--unselectedtext);
    }

    .red-icon {
        color: var(--red);
    }

    .green-icon {
        color: var(--green);
    }

    .golden-color {
        background-color: var(--gold);
    }

    .green-color {
        background-color: var(--green);
    }

    .component-name {
        color: var(--unselectedtext);
        font-size: var(--text-2xl);
        line-height: var(--tw-leading, var(--text-2xl--line-height));
        font-weight: bold;
    }
}

@layer navbar {
    .bg-navbar {
        background-color: var(--navbar);
        color: var(--selectedtext);
        max-height: 13dvh;
    }

    .tab-title {
        color: var(--unselectedtext);
        font-size: 1.1rem;
    }

    .tab-title:hover {
        color: var(--selectedtext);
    }

    .selected {
        color: var(--selectedtext);
        font-weight: bold;
    }
}

@layer components {
    .body-background {
        display: flex;
        flex: 1;
        flex-direction: column;

        max-width: 1920px;
        margin: 0 auto;

        width: 100%;
        height: 87dvh;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1.25rem;

        background-color: var(--background);
    }

    /* HOME SCREEN */

    .home-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2.5fr 1fr;
        height: 74dvh;
    }

    .home-grid > * {
        min-width: 0;
        min-height: 0;
        overflow: hidden;
        /* border: 1px solid #444; */
    }

    .additional-sim-wallet {
        padding-bottom: 2rem;
        border-bottom: 2px solid var(--unselectedtext);
    }

    .period-choice-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1.5rem;
        margin-inline: calc(var(--spacing) * 2);
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: var(--secondarycomponentbackground);

        box-shadow: var(--shadow-small);
    }

    .period-button {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        padding: 0.75rem;
        border-radius: 1.5rem;
        background-color: var(--secondarycomponentbackground);

        box-shadow: var(--shadow-small);
    }

    .period-button:hover {
        background-color: var(--selectedcomponentbackground);
        cursor: pointer;

        box-shadow: var(--shadow-medium);
    }

    .period-button:active {
        background-color: var(--selectedcomponentbackground);
        cursor: pointer;
        transform: scale(0.95);
        box-shadow: var(--shadow-active);
    }

    .period-button.selected {
        background-color: var(--selectedcomponentbackground);
        box-shadow: var(--shadow-large);
        outline-color: #ffffff;
        outline-width: 5px;
    }

    .metric-buttons-container {
        /* VERY IMPORTANT TO FIX THIS SHIT */
        max-width: 88rem;
        display: flex;
        overflow-x: scroll;
        gap: 1.5rem;

        scrollbar-width: none;
    }

    .metric-button {
        width: 13rem;
        flex-shrink: 0;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        padding: 0.5rem;
        border-radius: 1.5rem;
        background-color: var(--secondarycomponentbackground);
        box-shadow: var(--shadow-small);
    }

    .metric-button:hover {
        background-color: var(--selectedcomponentbackground);
        cursor: pointer;

        box-shadow: var(--shadow-medium);
    }

    .metric-button:active {
        background-color: var(--selectedcomponentbackground);
        cursor: pointer;
        transform: scale(0.97);
        box-shadow: var(--shadow-active);
    }

    .metric-button.selected {
        background-color: var(--selectedcomponentbackground);
        box-shadow: var(--shadow-large);
        outline-color: #ffffff;
        outline-width: 5px;
    }

    .formatted-desc {
        white-space: pre-line;
    }

    /* NEWS SCREEN */

    .news-block {
        cursor: pointer;
        padding: 0.5rem 1rem 1rem 1rem;
        border-bottom: 1px solid var(--componentbackground);

        box-shadow: var(--shadow-large);
    }

    .news-block:hover {
        background-color: var(--selectedcomponentbackground);
    }

    .news-block--selected {
        background-color: var(--selectedcomponentbackground);
    }

    .news-list {
        border-right: 1px solid var(--componentbackground);
        width: 33.3333%;
        overflow-y: auto;
        scrollbar-width: none;
        height: 100%;
    }

    .news-detail {
        flex: 1;
        width: 66.6667%;
        padding: 1.5rem;
        scrollbar-width: none;
        overflow-y: auto;
        height: 100%;
    }

    /* BROWSE SCREEN */

    .search-bar-container {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        width: 100%;
        position: relative;
    }

    .search-bar {
        width: 75%;
        padding: 1rem 1rem 1rem 3rem;
        border-radius: 2.5rem;
        background-color: var(--componentbackground);
        color: var(--selectedtext);
        border: none;
        outline: none;

        box-shadow: var(--shadow-small);
    }

    .search-bar:hover {
        box-shadow: var(--shadow-large);
    }

    .search-bar-icon {
        position: absolute;
        left: calc(12.5% + 1rem);
        top: 50%;
        transform: translateY(-50%);
        color: var(--unselectedtext);
        font-size: 1.5rem;
        pointer-events: none;
    }

    .search-asset-list-container {
        display: flex;
        overflow: hidden;
        height: 100%;
    }

    .search-asset-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: var(--secondarycomponentbackground);
        border-radius: 1.5rem;
        gap: 0.5rem;
        overflow-y: auto;
        scrollbar-width: none;
        padding-bottom: 8rem;

        box-shadow: var(--shadow-large);
    }

    .search-asset-list-element {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.5rem;
    }

    .search-asset-list-element:hover {
        background-color: var(--selectedcomponentbackground);
        box-shadow: var(--shadow-medium);
    }

    /* SIMULATION SETUP SCREEN */

    .sim-param-input-container {
        flex-basis: calc(1 / 4 * 100%);
        position: relative;
    }

    .sim-param-input {
        padding: 1rem 1rem 1rem 3rem;
        border-radius: 2.5rem;
        background-color: var(--componentbackground);
        color: var(--selectedtext);
        border: none;
        outline: none;

        box-shadow: var(--shadow-medium);
    }

    .sim-param-input:hover {
        box-shadow: var(--shadow-large);
    }

    .strat-dropdown-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: absolute;
        border-radius: 2rem 2rem 1.5rem 1.5rem;
        background-color: var(--secondarycomponentbackground);
        gap: 0.5rem;
        padding-bottom: 0.5rem;
        scrollbar-width: none;

        box-shadow: var(--shadow-medium);
    }

    .strat-dropdown-option {
        color: var(--selectedtext);
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 2.5rem;
    }

    .strat-dropdown-option:hover {
        background-color: var(--selectedcomponentbackground);
        box-shadow: var(--shadow-medium);
    }

    .strat-component-container {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 4);
        padding: 0.5rem;
        margin-right: 1rem;
        border-radius: 1rem;

        background-color: var(--secondarycomponentbackground);
    }

    .sim-param-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--unselectedtext);
        font-size: 1.5rem;
        pointer-events: none;
    }

    .sim-param-error-outline {
        outline: 3px solid var(--red);
    }

    .sim-param-input-error {
        color: var(--red);
        font-weight: 500;
        font-size: small;
        margin-left: 1rem;
        position: absolute;
    }

    .sim-param-extra-placeholer {
        color: var(--unselectedtext);
        font-weight: 500;
        margin-left: 1rem;
        bottom: 100%;
        position: absolute;
    }

    .sim-control-panel {
        height: 100%;
        border-radius: var(--radius-3xl) /* 1.5rem = 24px */;
        padding: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
        background-color: var(--secondarycomponentbackground);

        box-shadow: var(--shadow-large);
    }

    .sim-control-panel-button {
        padding: 1rem;
        border-radius: 1rem;
        font-weight: 600;
        font-size: var(--text-2xl);
        line-height: var(--tw-leading, var(--text-2xl--line-height));
        cursor: pointer;

        box-shadow: var(--shadow-medium);
    }

    .sim-control-panel-button:hover {
        background-color: var(--selectedcomponentbackground);
        box-shadow: var(--shadow-large);
    }

    .sim-control-disabled {
        background-color: var(--background);
        color: var(--unselectedtext);

        box-shadow: var(--shadow-small);
    }

    .sim-progress-bar {
        height: calc(var(--spacing) * 4) /* 1rem = 16px */;
        border-radius: calc(infinity * 1px);
        background-color: var(--componentbackground);

        box-shadow: var(--shadow-small);
    }

    /* SIMULATION SCREEN */

    .common-sim-div {
        flex: 1;
        border-radius: 1.5rem;
        background-color: var(--secondarycomponentbackground);

        box-shadow: var(--shadow-small);
    }

    .sim-chart-container {
        background-color: var(--navbar);
        border-radius: var(--radius-3xl) /* 1.5rem = 24px */;
        margin: calc(var(--spacing) * 2); /*0.5rem = 8px;*/
        padding: calc(var(--spacing) * 2); /*0.5rem = 8px;*/
    }

    .inner-log-container {
        width: 100%;
        height: 100%;
        padding-block: calc(var(--spacing) * 3);
        overflow-y: auto;
    }

    .log-box {
        display: flex;
        justify-content: space-between;
        padding-inline: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
        padding-block: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
        border-radius: var(--radius-3xl) /* 1.5rem = 24px */;
    }

    .log-box:hover {
        box-shadow: var(--shadow-small);
    }

    .log {
        width: 20%;
        font-weight: 500;
        font-size: large;
    }

    .custom-scroll::-webkit-scrollbar {
        width: 15px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: var(--background);
        border-radius: var(--radius-3xl);
        margin: 8px 0;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background: var(--componentbackground);
        border-radius: var(--radius-3xl);
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background: var(--unselectedtext);
    }
}
